<strong>Olá</strong>
<p>Voce recebeu um convite do analista {{ nomeAnalista }} para acessar o sistema de recomendação WALLET BALANCER.</p>
<p>Código</p>
<p>{{ codigo }}</p>
<p>Para ter acesso realize o pré-cadastro com o código acima através do link.</p>
<a href="http://localhost:3000/cadastro-cliente">Link</a>
<p>Em caso de dúvidas, consulte o analista {{ nomeAnalista }}.</p>
